
body{
  background-color: black;
  color: white;
}

.col-md-3{
  border: solid black 1px;
  border-radius: 10px;
  height: 220px;
  margin-bottom: 2px;
  background-color: white;
}
.col-md-3 img {
  display: none;
}


#userInfo {
height: 200px;
background-color: black;
margin-bottom: 10px;
}

.displayImg img {
  display: block;
}

.match {
  background-color: black;
}

.match img{
  display: none;;

}
